@using IdleSchemes.Data.Models
@inject UserSessionService UserSessionService

<ul class="list-unstyled">
    <li>
        <a href="/">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>
    </li>
    <li>
        <a href="/me/payments">
            <i class="bi bi-coin"></i>
            My Pay
        </a>
    </li>
    @if (User?.IsModerator ?? false) {
        <li>
            <a href="#">
                <i class="bi bi-exclamation-triangle-fill"></i>
                Moderation
            </a>
        </li>
    }
</ul>
@if(UserSession?.ActiveAssociation is not null) {
    <hr />
    <ul class="list-unstyled">
        <li>
            <a href="/org/events">
                <i class="bi bi-calendar-week-fill"></i>
                Events
            </a>
        </li>
        <li>
            <a href="/org/registrations">
                <i class="bi bi-ticket-detailed-fill"></i>
                Registrations
            </a>
        </li>
        <li>
            <a href="/org/reviews">
                <i class="bi bi-chat-heart-fill"></i>
                Reviews
            </a>
        </li>
        <li>
            <a href="/org/patrons">
                <i class="bi bi-person-heart"></i>
                Patrons
            </a>
        </li>
        <li>
            <a href="/org/associates">
                <i class="bi bi-person-badge-fill"></i>
                Associates
            </a>
        </li>
        <li>
            <a href="/org/templates">
                <i class="bi bi-calendar2-fill"></i>
                Event Templates
            </a>
        </li>
        <li>
            <a href="/org/venues">
                <i class="bi bi-building-fill"></i>
                Venues
            </a>
        </li>
        <li>
            <a href="/org/payments">
                <i class="bi bi-cash-stack"></i>
                Payments
            </a>
        </li>
        <li>
            <a href="/org/settings">
                <i class="bi bi-gear-fill"></i>
                Settings
            </a>
        </li>
    </ul>
}
@if (User?.IsAdministrator ?? false) {
    <hr />
    <ul class="list-unstyled">
        <li>
            <a href="/global/regions">
                <i class="bi bi-pin-map-fill"></i>
                Regions
            </a>
        </li>
        <li>
            <a href="/global/users">
                <i class="bi bi-people-fill"></i>
                Users
            </a>
        </li>
        <li>
            <a href="/global/orgs">
                <i class="bi bi-buildings-fill"></i>
                Organizations
            </a>
        </li>
    </ul>
    <hr />
    <ul class="list-unstyled">
        <li>
            <a href="#">
                <i class="bi bi-graph-up"></i>
                Reports
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-list-columns-reverse"></i>
                Logs
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-terminal-fill"></i>
                Utilities
            </a>
        </li>
    </ul>
}
@code {
    [Parameter]
    public UserSession? UserSession { get; set; }
    public User? User => UserSession?.User;
}